:root {
  --animate-speed: 2s;
}

/* Universal Display setting*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  color: #000;
}

/* Display Configurations */
.play-mode {
  display: flex;
}
.select-player {
  display: none;
}
.game-room {
  display: none;
}
.result-box {
  display: flex;
}
.container,
.play-mode,
.select-player,
.game-room {
  height: 100vh;
}
.play-mode,
.select-player,
.game-room,
.result-box,
.container,
.mode-instruction,
.play-mode-options,
.settings-box,
.btn,
.playersdorm,
.players,
.playericon,
.playersdetails,
.game-area,
section,
.scores,
.notifier {
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  flex-direction: column;
}
.container,
.mode-instruction,
.play-mode-options,
.settings-box,
.btn,
.playersdorm,
.gameicon,
.players,
.playericon,
.playersdetails,
.game-area,
.scores,
.notifier,
.settings,
section {
  display: flex;
}
.players,
.playersdetails,
.gameicon,
.scores,
section {
  flex-direction: row;
}
/* Display Background */
.play-mode,
.select-player,
.game-room,
.result-box {
  background-color: aqua;
}
/* start-page-text-effects */
.gameicon {
  margin-top: 50px;
  text-align: center;
}
h1 {
  font-weight: 900;
  font-size: 7rem;
  color: blue;
}
.iconO,
.O-select {
  color: chocolate;
}
.mode-instruction {
  margin-top: -20px;
  gap: 50px;
}
.mode-instruction > .title,
label,
.notifier > h1 {
  font-size: 2rem;
  text-align: center;
}
/* Transistion and Keyframes */
.iconX {
  transform: translateX(1800px);
  animation: heading var(--animate-speed) forwards ease-in 0.15s;
}
.iconO {
  transform: translateX(-1800px);
  animation: heading var(--animate-speed) forwards ease-in 0.15s;
}
@keyframes heading {
  to {
    transform: translateX(0);
  }
}
/* buttons styles and effects */
.mode-instruction > .play-mode-options {
  padding: 2%;
  gap: 5px;
}
button,
.close,
section > span,
input {
  cursor: pointer;
}
.modes,
.continue-btn,
.scores {
  border-radius: 25px;
  width: 50%;
  height: 40px;
  background-color: #fff;
}
.cpu {
  background-color: blue;
}
.friends {
  background-color: chocolate;
}
.setting {
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: 1px solid aqua;
  outline: auto;
  border-radius: 25px;
  text-align: center;
  color: aqua;
}

/* Select player page */
.playericon {
  gap: 1px;
}
.continue-btn {
  color: #000;
}
/* play-room */

.playersdetails,
.game-area,
section {
  gap: 0;
}
.playersdetails {
  width: 95%;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}
.playersdetails > span {
  text-align: center;
  width: 32%;
}
.scores {
  background-color: chocolate;
  text-align: center;
  gap: 2px;
}
.game-area {
  border: 5px solid white;
  width: 95%;
  padding: 2%;
  border-radius: 25px;
}
section {
  width: 100%;
}

section > span {
  border: 1px solid white;
  border-left: none;
  width: 35%;
  height: 120px;
}
.a > span {
  border-top: none;
}
.b {
  border-right: none;
}
.c > span {
  border-bottom: none;
}
.modes{
  margin-bottom: 10px;
}
.result-box {
  background-color: chocolate;
  height: 30%;
  position: absolute;
  transform: translate(-0%, -0%) scale(0.98);
  transition: all 0.5s ease;
  gap: 0;
  padding: 5px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.notifier {
  gap: 5px;
  height: 100%;
}
.close {
  position: relative;
  top: -8%;
  left: 40%;
  font-size: 30px;
}
.notifier > span > p {
  font-size: 50px;
}
.notifier > span {
  border: none;
  background-color: transparent;
}
.notifier > h1 {
  color: aqua;
  transform: translateX(1800px);
  animation: heading var(--animate-speed) forwards ease-in 0.15s;
  margin-top: -15px;
}
.notifier > span {
  transform: translateX(-1800px);
  animation: heading var(--animate-speed) forwards ease-in 0.15s;
}
@keyframes heading {
  to {
    transform: translateX(0);
  }
}

@media screen and (min-width: 650px) {
  .play-mode,
  .select-player,
  .game-room,
  .result-box,
  .container,
  .mode-instruction,
  .play-mode-options,
  .settings-box {
    width: 100%;
    gap: 10px;
  }
  .mode-instruction {
    margin-top: 0;
  }
  .modes,
  .continue-btn {
    width: 25%;
  }
  .players {
    width: 45%;
  }
  .playersdetails,
  .game-area {
    width: 45%;
  }
}
@media screen and (max-height: 550px) {
  .play-mode,
  .select-player,
  .game-room,
  .result-box,
  .container,
  .mode-instruction,
  .play-mode-options,
  .settings-box {
    width: 100%;
    gap: 5%;
    flex-direction: column;
  }
  h1{
    font-size: 4em;
  }
  .mode-instruction > .title , .title{
    font-size: 15px;
  }
  .modes{
    margin-bottom: 0px;
  }
  .playersdorm {
    gap: 10px;
  }
  .game-room {
    gap: 1;
  }
  section > span {
    height: 60px;
  }
  .playersdetails > span, .notifier > span > p, .notifier > h1 {
    font-size: 20px;
  }

  .notifier > .close {
    font-size: 15px;
    margin-top: 10px;
  }
  .notifier{
    gap: 0;
  }

}
